{% extends 'auth/index.html' %}

{% block content_header %}
Forgot Password?
{% endblock %}

{% block content %}
<form method="post" action="/forgot">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
            </span>
            <input name="email" type="email" class="form-control" placeholder="Email" />
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Send
    </button>
    <a href="/login" class="btn btn-link">Login</a>
    <a href="/" class="btn btn-link">Back</a>
</form>
{% endblock %}