{% extends 'auth/index.html' %}

{% block content_header %}
SIGN IN
{% endblock %}

{% block content %}
<form method="post" action="login{{nextUrl}}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
            </span>
            <input name="username" type="text" class="form-control" placeholder="Username" />
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input name="password" type="password" class="form-control" placeholder="Password" />
        </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign In
    </button>
    <a href="/resend_verify" class="btn btn-link">Resend Verification</a>
    <a href="/forgot" class="btn btn-link">Forgot Password</a>
    <a href="/join" class="btn btn-link">Register</a>
    <a href="/" class="btn btn-link">Back</a>
</form>
{% endblock %}