{% extends "admin/layout/master.html" %}

{% block title %}
SkyMan - Admin Dashboard
{% endblock %}

{% block css %}
<!-- page specific css -->
{% endblock %}

{% block content %}
<h2 class="sub-header">Users</h2>
<div class="table-responsive">
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Enabled</th>
        <th>Account Locked</th>
        <th>Account Expired</th>
        <th>Credential Expired</th>
        <th>Roles</th>
        <th>Registered At</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>
            {% if user.enabled %} <span class="label label-success">Yes</span>
            {% else %}<span class="label label-danger">No</span> {% endif %}
        </td>
        <td>
            {% if user.account_locked %} <span class="label label-success">Yes</span>
            {% else %}<span class="label label-danger">No</span> {% endif %}
        </td>
        <td>
            {% if user.account_expired %} <span class="label label-success">Yes</span>
            {% else %}<span class="label label-danger">No</span> {% endif %}
        </td>
        <td>
            {% if user.credential_expired %} <span class="label label-success">Yes</span>
            {% else %}<span class="label label-danger">No</span> {% endif %}
        </td>
        <td>{{user.roles|join(',')}}</td>
        <td>{{user.created_at.toDateString()}}</td>
    </tr>
    {% else %}
    <tr><td colspan="9" style="text-align: center;">No Users</td></tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block js %}
<script>
    console.log("Blank Admin Page");
</script>
{% endblock %}